.footer {
    background-color: $accent-color;
    width: 331px;
    min-width: 100%;

    p {
        color: $font-alternative-color;
    }
    
    .fab {
        color: $font-alternative-color;
    }
    
    .fas {
        color: $font-alternative-color;
    }
}

