.site-header {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.site-header div {
    min-width: 25%;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: $accent-color;
    width: 331px;
    min-width: 100%;
    
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    border: $border;
    margin-left: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
    background-color: $nav-background;
    padding: 0 1em;
    
}

.nav a {
    color: $font-color;
}

.empty {
    visibility: hidden;
}

.nav-toggle {
    display: none;
}
