.site-header {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.site-header div {
    min-width: 25%;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: rgb(47, 79, 79);
    width: 331px;
    min-width: 100%;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    border: 3px solid rgb(0, 0, 0);
    margin-left: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
    background-color: rgb(222, 184, 135);
    padding: 0 1em;
}

.empty {
    visibility: hidden;
}

.nav a,
.nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}
