@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Roboto+Slab&display=swap');
@import 'typograph';
@import 'blockquotes';
@import 'code';
@import 'header';
@import 'footer';
@import 'technologies';

body {
    background-color: $background-color;
}

.hidden {
    display: none !important;
}

.trying {
    margin-right: 5%;
    margin-left: 5%;
}
