@import 'dark-variables';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import 'typograph';
@import 'blockquotes';
@import 'code';
@import 'header';
@import 'footer';
@import 'technologies';
@import 'gallery';


body {
    background-color: $background-color;
}

.hidden {
    display: none !important;
}

.trying {
    margin-right: 5%;
    margin-left: 5%;
}

img {
    filter: opacity(0.6) contrast(1.4);
    max-width: 100%;
}
