.landingpage {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-gap: 20px;
    grid-template-areas:
    'title title title'
    'tec1 tec2 tec3'
    'tec4 tec5 tec6'
    'tec7 tec7 tec7';

    h1 {
        display: flex;
        justify-content: center;
        grid-area: title;
    }

    .technologies {
        display: flex;
        justify-content: center;
        box-shadow: rgb(31 31 84 / 70%) 0.1px 10px 16px, rgb(17 17 26 / 40%) 0.1px 8px 32px;
        background: rgb(142, 140, 189);
        background: linear-gradient(352deg, rgb(230 230 230 / 82%) 0%, rgba(127, 144, 154, 0.510708507) 100%);
    }
}

.tec7 {
    display: flex;
    text-align: center;
    box-shadow: rgb(31 31 84 / 70%) 0.1px 10px 16px, rgb(17 17 26 / 40%) 0.1px 8px 32px;
    background: rgb(142, 140, 189);
    background: linear-gradient(352deg, rgb(230 230 230 / 82%) 0%, rgba(127, 144, 154, 0.510708507) 100%);
    grid-area: tec7;

    a {
        min-width: 100%;
    }
}

.t-single {
    display: grid;
    margin-left: 3%;
    margin-right: 10%;
    column-gap: 12%;
    grid-template-areas:
    'sbar s-tit'
    'sbar stext'
    'sbar scode';

    h1 {
        grid-area: s-tit;
        display: flex;
        justify-content: center;
    }

    pre code {
        grid-area: scode;
    }

    .s-text {
        grid-area: stext;
    }
}

.t-sidebar {
    grid-area: sbar;

    ul {
        list-style: none;
    }
}

.tec1 {
    grid-area: tec1;
}

.tec2 {
    grid-area: tec2;
}

.tec3 {
    grid-area: tec3;
}

.tec4 {
    grid-area: tec4;
}

.tec5 {
    grid-area: tec5;
}

.tec6 {
    grid-area: tec6;
}

@media (max-width: 500px) {
    .landingpage {
        grid-template-areas:
        'title'
        'tec1'
        'tec2'
        'tec3'
        'tec4'
        'tec5'
        'tec6'
        'tec7';

        h1 {
            grid-column: 1;
        }

        .tec7 {
            grid-column: 1;
        }
    }

    .t-single {
        display: flex;
        flex-direction: column;

        .t-sidebar {
            visibility: hidden;
        }
    }
}
