// Monokromatiskt

$font-color: #000;
$font-alternative-color: #cfe8f7;
$font-size: 1.4vw;
$accent-color: #3f6275;
$background-color: #85ccf5;
$background-alternative-color: rgb(167, 204, 157);
$font-family: 'Roboto Slab', serif;
$bg-gradient: linear-gradient(352deg, rgb(230 230 230 / 82%) 0%, rgba(127, 144, 154, 0.510708507) 100%);
$box-shadow: rgb(31 31 84 / 70%) 0.1px 10px 16px, rgb(17 17 26 / 40%) 0.1px 8px 32px;;
$nav-background: #cfe8f7;
$border: 3px solid rgb(0, 0, 0);
$pre-background: #f5f5f5;;
