{% set last_link = current_page.url|split('/')%}
{% include 'incl/header.twig' %}

<body>
   
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        {% if last_link|last == 'technology' %}
        <div class="landingpage">
            {{ content }}
        </div>
        {% else %}
        <div class="t-single">
            {{ content }}
            <div class= "t-sidebar">
                <ul>
                    <li> <a href="css"> <h3>CSS</h3> </a> </li>
                    <li> <a href="html"> <h3>HTML</h3> </a> </li>
                    <li> <a href="git"> <h3>Git</h3> </a> </li>
                    <li> <a href="sqlite"> <h3>SQlite</h3> </a> </li>
                    <li> <a href="php"> <h3>PHP</h3> </a> </li>
                    <li> <a href="python"> <h3>Python</h3> </a> </li>
                    <li> <a href="javascript"> <h3>Javascript</h3> </a> </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
